<div class="container" ng-controller="EndgameCtrl">
  <div ng-switch="state" class="row">
    <div ng-switch-when="prep">
      <h2>Final Day Preparations</h2>
      <voting-graph reputations="totalReputations"></voting-graph>
      <support-suppress districts="districts" kapitans="kapitans" cash="human.totalCash" done="onPreparationDone"></support-suppress>
    </div>
    <div ng-switch-when="sim" class="row">
      <div class="col-xs-12">
        <h2 style="text-align: center;"><span class="human-vote">{{votes.human}}</span> vs <span class="ai-vote">{{votes.ai}}</span></h2>
      </div>
      <div class="col-xs-7">
        <voting-simulator done="done" sim-messages="sim.activities" districts="districts" kapitans="kapitans" cash="totalCash" human-vote="votes.human" ai-vote="votes.ai"></voting-simulator>
      </div>
      <div class="col-xs-5">
        <div class="panel panel-default">
          <div class="panel-heading" style="text-align: center;"><h4>Official Quik Count</h4></div>
          <table class="table table-striped">
            <tr>
              <th>District</th>
              <th>{{human.name}}</th>
              <th>{{ai.name}}</th>
            </tr>
            <tr ng-repeat="district in districts">
              <td><span ng-class="{'bold green': district.humanVote > district.aiVote}">{{district.name}}</span></td>
              <td><span ng-class="{bold: district.humanVote > district.aiVote}">{{district.humanVote}}</span> <span class="gray">({{district.humanProjectedVote}})</span></td>
              <td><span ng-class="{bold: district.aiVote > district.humanVote}">{{district.aiVote}}</span> <span class="gray">({{district.aiProjectedVote}})</span></td>
            </tr>
          </table>
        </div>
        <div class="btn btn-success" ng-show="done" ng-click="onSimulationDone()">Done</div>
      </div>
    </div>
    <div ng-switch-when="summary" class="row">
      <div class="col-xs-12 newspaper" style="padding-top: 20px;">
        <end-paper done="done" human="human" ai="ai" districts="districts" kapitans="kapitans" cash="totalCash" human-vote="votes.human" ai-vote="votes.ai">
          <div class="btn btn-success" ng-click="onGoBack()"><h4>Back</h4></div>
        </end-paper>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>♥</p>
  </div>
</div>
