.list-group-item {
  margin: 0;
  border-bottom: 0;
}

.list-group-item:last-child {
  border-bottom: 1px solid #ddd;
}

.list-group-item .scaler div {
  height: 100%;
}

.list-group-item .scaler div a {
  height: 100%;
  padding: 5px;
}

.list-group-item .scaler .left-btn {
  display: inline-block;
  float: left;
  width: 50px;
}

.list-group-item .scaler .right-btn {
  display: inline-block;
  float: right;
  width: 50px;
}

.list-group-item .scaler .center {
  display: inline-block;
}