.list-group-item {
  margin: 0;
  border-bottom: 0;
}

.list-group-item:last-child {
  border-bottom: 1px solid #ddd;
}

.list-group-item .scaler div {
  height: 100%;
}

.list-group-item .scaler div a {
  height: 100%;
  padding: 5px;
}

.list-group-item .scaler .left-btn {
  display: inline-block;
  float: left;
  width: 50px;
}

.list-group-item .scaler .right-btn {
  display: inline-block;
  float: right;
  width: 50px;
}

.list-group-item .scaler .center {
  display: inline-block;
}

.province-view {
  display: inline-block;
  width: 255px;
  height: 400px;
}

.province-view .district {
  float: left;
  width: 120px;
  height: 120px;
  background: #ccc;
  border: 1px solid #ddd;
}

.province-view .district.selected {
  color: white;
  background: #0000cc;
}

.province-view .district.love {
  background: #00cc00;
}

.province-view .district.hate {
  background: #cc0000;
}

.province-view .district.neutral {
  background: #ccc;
}

.district-desc {
  width: 50%;
}