.list-group-item {
    margin: 0px;
    border-bottom: 0px;
    &:last-child{
      border-bottom: 1px solid #ddd;
    }
    .scaler{

        div{
          height: 100%;
          a {
            height: 100%;
            padding: 5px;
          }
        }
        .left-btn{
          display: inline-block;
          width: 50px;
          float: left;
        }
        .right-btn{
          width: 50px;
          display: inline-block;
          float: right;
        }
        .center{
          display: inline-block;
        }
    }

}

.province-view{
  width: 255px;
  height: 400px;
  display: inline-block;
  .district{
    border: 1px solid #ddd;
    width: 120px;
    height: 120px;
    float: left;
    background: #ccc;
    &.selected{
      border: 2px solid blue;
    }
    &.love{
      background: #00cc00;
    }
    &.hate{
      background: #cc0000;
    }
    &.neutral{
      background: #ccc;
    }
  }
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.district-desc{
  width: 50%;
  .strong{
    color: green;
    font-weight: bold;
  }
}

.top-bar{
  height: 30px;
  div{
    float: left;
    &.center{
      text-align: center;
      width: 60%;
    }
  }
}
