@lightblue: #C2ECE8;
@peach: #FEE8C8;
@pink: #ffbebc;

.overlay{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  width:100%;
  z-index: 250;
  background: fade(@peach, 70%);;
}

.red{
  color: red;
}

.list-group-item {
    margin: 0px;
    border-bottom: 0px;
    &:last-child{
      border-bottom: 1px solid #ddd;
    }
    .scaler{

        div{
          height: 100%;
          a {
            height: 100%;
            padding: 5px;
          }
        }
        .left-btn{
          display: inline-block;
          width: 50px;
          float: left;
        }
        .right-btn{
          width: 50px;
          display: inline-block;
          float: right;
        }
        .center{
          display: inline-block;
        }
    }

}

.province-view{
  width: 255px;
  height: 400px;
  display: inline-block;
  .district{
    border: 1px solid #ddd;
    width: 120px;
    height: 120px;
    float: left;
    background: #ccc;
    position: relative;
    .reputation{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70px;
      text-align: right;
    }
    &.selected{
      border: 2px solid blue;
    }
    &.love{
      background: #00cc00;
    }
    &.hate{
      background: #cc0000;
    }
    &.neutral{
      background: #ccc;
    }
  }
}

.animal-list{
    img{
      border: 2px solid white;
      &.active{
        border: 2px solid blue;
      }
    }

}

.red{
  color: red;
}

.blue{
  color: blue;
}

.district-desc{
  width: 60%;
  h4 span{
    float: right;
    img{
      width: 30px;
      height: 30px;
    }
    font-size: 12px;
  }
  .strong{
    color: green;
    font-weight: bold;
  }
}

.top-bar{
  height: 30px;
  div{
    float: left;
    &.center{
      text-align: center;
      width: 60%;
    }
  }
}

.itinerary-view{
  position: absolute;
  width: 250px;
  border: 1px solid black;
  background: white;
  z-index: 100;
  text-align: center;
  margin-top: 30px;
  .close-btn{
    position: absolute;
    top: 5px;
  }
  .time{
    .right{
      border: 1px solid gray;
      height: 20px;
    }
    .left{
      text-align: right;
    }
  }
  .btn-holder{
    margin: 10px 0px;
  }
}

.bottom{
  position: fixed;
  bottom: 5px;
}

.activity-list{
  li{
    background: @lightblue;
    margin: 1px 0px;
    .btn{
      &:focus,&:active:focus, &.active:focus, &.active, &:active{
        outline: none;
        box-shadow: none;
        color: lighten(@lightblue, 10%);
      }
    }
    &.disabled{
      background: gray;
    }
  }
}

.simulation-container{
  text-align: center;
}

.schedule{
  position: absolute;
  left: 78px;
  z-index: 150;
  .schedule-item{
      width: 162px;
      background: @peach;
      border: 1px dashed @pink;
      h5{
        margin:0px;
      }
  }
  .loopSchedules(@index) when (@index > 0){

    .item-@{index}{
      height: (20px *@index);
    }
    .loopSchedules((@index - 1));
  }
  .loopSchedules(10);
}

.summary-sim{
  background: white;
  margin: 10px 10px;
  padding: 10px 10px;
  td{
    &.success{
      color: green;
    }
    &.danger{
      color: red;
    }
  }
}

.activity-sim{
  background: white;
  margin: 10px 0px;
  padding: 10px 0px;

  .stat-ui{
    table{
      .issue-bar{
        width: 40%;
        text-align: center;
        position: relative;
      }
    }
  }
}

.text{
  float: left;
  margin: 0 5px;
}
.bar{
  float: left;
  height: 5px;
  width: 100px;
  padding-top: 7px;
  position: relative;
  .base{
    height: 5px;
    width: 0px;
    border: 1px solid gray;
    position: absolute;
    right: 0;
    &.left{
      left: 0;
    }
  }
  .points{
    height: 5px;
    width: 0px;
    background: blue;
    right: 0px;
    position: absolute;
    &.left{
      left: 0;
    }
  }
  .loopLevel(@index) when (@index > 0){

    .level-@{index}{
      width: (20px *@index);
    }
    .loopLevel((@index - 1));
  }
  .loopLevel(5);
}

.custom-alert{
  position: fixed;
  top: 10px;
  right: 5px;
  width: 225px;
}

.district-stances{
  display: flex;
}

.district-difficulty{
  vertical-align: super;
  font-size: 8pt;
  &.VERY{
    &.HIGH{
      color: #017f05;
    }
    &.LOW{
      color: red;
    }
  }
  &.LOW{
    color: #d85542;
  }
  &.NORMAL{
    color: #7dc91a;
  }
  &.HIGH{
    color: #337522;
  }

}

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence .5s linear; /* Safari/Chrome */
  animation: enter_sequence .5s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
