<div class="province-view reveal-animation">
  <div ng-repeat="district in districts" class="district staggering {{district.name.split(' ').join('')}}" ng-class="{selected: district.selected, 'ai-border': district.hasAI, 'human-border': district.hasHuman, 'has-both': district.hasAI && district.selected}" ng-click="selected(district)">
    <div class="label">
      <h4>{{district.name}}</h4>
      <p>{{district.population}}pi</p>
    </div>
    <div ng-show="isNeighbor(district)" class="direction">
      <div class="{{getArrowDirection(district)}}">
        <i class="glyphicon glyphicon-arrow-{{getArrowDirection(district)}}"></i>
      </div>
    </div>
    <div ng-show="showReputation" class="reputation">
      <reputation-bar human-reputations="district.humanReputations" ai-reputations="district.aiReputations"></reputation-bar>
    </div>
    <div class="indicators">
      <span ng-show="district.isHQ"><i class="glyphicon glyphicon-home blue"></i></span>
      <span ng-show="district.isAIHQ"><i class="glyphicon glyphicon-home red"></i></span>
      <span ng-show="district.aiReputation - district.humanReputation >= 50"><i class="glyphicon glyphicon-heart red"></i></span>
      <span ng-show="district.humanReputation - district.aiReputation >= 50"><i class="glyphicon glyphicon-heart blue"></i></span>
    </div>

  </div>
</div>
