.endgame-test{
  position: relative;
  .district-editor-container{
    position: absolute;
    top: 50px;
    left: 15px;
    padding: 5px 10px;
    background: #efefef;
    input{
      width: 60px;
    }
  }
  .action-config-container{
    position: absolute;
    bottom: 50px;
    right: 10px;
    background: #efefef;
    padding: 5px 10px;
  }
  .actions-list{
    height: 40px;
    input[type='number']{
      width: 90px;
    }
  }
  .action-toggle{
    cursor: pointer;
    width: 90px;
    &.support{
      background: green;
    }
    &.suppress{
      background: red;
    }
  }
  .simulation-container{
    position: absolute;
    top: 50px;
    left: 50%;
    margin: 0 auto;
    .simulation-inner{
      position: relative;
      background: white;
      min-width: 400px;
      height: 500px;
      left: -50%;
    }
    tr{
      &.winner-ai{
        // border: 3px solid red;
        background: lighten(red, 20%);
      }
      &.winner-player{
        // border: 3px solid blue;
        background: lighten(blue, 20%);
      }
    }
    td{
      &.suppress{
        background: red;
        color: white;
      }
      &.support{
        background: green;
        color: white;
      }
      &.blank{
        background: #333;
        color: white;
      }
    }
  }
}
