<div class="district-details container">
  <div class="header">
    <h4>{{selectedDistrict.name}}
      &nbsp;<span>{{selectedDistrict.info}}</span>
    </h4>
    <div class="close-btn btn" ng-click="closeHandler()"><i class="glyphicon glyphicon-remove"></i></div>
  </div>
  <div class="district-status">
    <span class="district-animal" tooltip="{{selectedDistrict.kapitan.humanRelations | feelings}}"><img ng-src="assets/images/avatars/{{selectedDistrict.kapitan.image}}"></img> {{selectedDistrict.kapitan.name}}</span>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Issue</th>
      <th style="text-align: right;">Satisfaction</th>
    </tr>
    <tr ng-repeat="issue in human.issueStats">
      <td>
        <div>
          {{issue.name}}<span tooltip="{{selectedDistrict.issues[$index] | demandexplainer}}" class="district-difficulty {{selectedDistrict.issues[$index] | demandparser}}">{{selectedDistrict.issues[$index] | demandparser}}</span>
        </div>
      </td>

      <td style="text-align: right;">
        <div class="district-stances">
          <issue-level-view base="5" human-lvl="selectedDistrict.humanStance[$index]" ai-lvl="selectedDistrict.aiStance[$index]"></issue-level-view>
        </div>
      </td>
    </tr>
  </table>
  <div class="subheader">
    <h4>Actions</h4>
  </div>
  <div class="activity-container">
    <ul class="activity-list list list-unstyled">
        <li ng-repeat="action in selectedDistrict.activities">
          <div class="btn" ng-click="selectedAction(action)">{{action.name}}</div>
        </li>
      <ul>
  </div>
</div>
