.district-details{
  width: 30%;
  position: absolute;
  right: 5px;
  background: white;
  top: 55px;
  h4 span{
    font-weight: normal;
    font-size: 15px;
  }
  .strong{
    color: green;
    font-weight: bold;
  }
  .district-status{
    float: right;
    img{
      width: 30px;
      height: 30px;
    }
    font-size: 12px;
  }
  .nav-tabs > li > a{
    line-height: inherit;
  }
  .badge{
    background: @orange;
  }

  .progress{
    margin-top: 5px;
    margin-bottom: 0px;
    height: 10px;
  }
}
