@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

@lightblue: #C2ECE8;
@peach: #FEE8C8;
@pink: #ffbebc;

@human: #6684cd;


@ai: #c26767;

/**
 * App-wide Styles
 */

html {
    overflow-y: scroll;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
@filterString: ~"grayscale(100%)";
img{
  .failed{
      -webkit-filter: @filterString;
      -moz-filter: @filterString;
      filter: @filterString;

  }
}

.overlay{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  width:100%;
  z-index: 1100;
  background: fade(@peach, 70%);;
}

.district-difficulty{
  vertical-align: super;
  font-size: 8pt;
}

.VERY{
  .HIGH{
    color: #017f05;
  }
  .LOW{
    color: red;
  }
}
.LOW{
  color: #d85542;
}
.NORMAL{
  color: #7dc91a;
}
.HIGH{
  color: #337522;
}


.district-stances{
  display: flex;
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.green{
  color: green;
}

.gray{
  color: #ccc;
}

.italic{
  font-style: italic;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
}

.navbar{
  margin-bottom: 0px;
}

.custom-alert{
  position: fixed;
  top: 10px;
  right: 5px;
  width: 225px;
}

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence .2s linear; /* Safari/Chrome */
  animation: enter_sequence .2s linear; /* IE10+ and Future Browsers */
  .itinerary-view{
    -webkit-animation: enter_sequence .5s linear; /* Safari/Chrome */
    animation: enter_sequence .5s linear; /* IE10+ and Future Browsers */
  }
}
.reveal-animation.ng-hide{
  -webkit-animation: hide_sequence .2s linear; /* Safari/Chrome */
  animation: hide_sequence .2s linear; /* IE10+ and Future Browsers */

}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@-webkit-keyframes hide_sequence {
  from { opacity:1; margin-top: 0px;}
  to { opacity:0; margin-top: -10px;}
}
@keyframes hide_sequence {
  from { opacity:1; margin-top: 0px;}
  to { opacity:0; margin-top: -10px;}
}

.staggering.ng-enter,
.staggering.ng-leave,
.staggering.ng-move{
  /* standard transition code */
  -webkit-transition: .1s linear all;
  transition: .1s linear all;
  opacity:0;
}
.staggering.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;

  /* in case the stagger doesn't work then these two values
   must be set to 0 to avoid an accidental CSS inheritance */
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.staggering.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}
.staggering.ng-leave.ng-leave-active {
  opacity:0;
}

.staggering.ng-move {
  opacity:0.5;
}
.staggering.ng-move.ng-move-active {
  opacity:1;
}

.staggering.ng-leave{
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
  opacity: 0;
}

.my-switch-container {
  position:relative;
  height:700px;
  width: 100%;
  overflow: hidden;
}

.my-switch-animation.ng-enter,
.my-switch-animation.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  height:700px;
  width: 100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
}

.my-switch-animation.ng-enter {
  left:100%;
}

.my-switch-animation.ng-leave,
.my-switch-animation.ng-enter.ng-enter-active {
  left:0;
}

.my-switch-animation.ng-leave.ng-leave-active {
  left:-100%;
}

// injector
@import 'endgame/endgame.less';
@import 'game/game.less';
@import 'kapitan/kapitan.less';
@import 'main/main.less';
@import 'activitySim/activitySim.less';
@import 'cardsView/cardsView.less';
@import 'issueLevelView/issueLevelView.less';
@import 'itineraryView/itineraryView.less';
@import 'levelView/levelView.less';
@import 'moveUi/moveUi.less';
@import 'provinceView/provinceView.less';
@import 'reputationBar/reputationBar.less';
@import 'reputationPanel/reputationPanel.less';
@import 'reputationUi/reputationUi.less';
@import 'sortieUi/sortieUi.less';
@import 'specialUi/specialUi.less';
@import 'statUi/statUi.less';
@import 'summarySim/summarySim.less';
@import 'supportSuppress/supportSuppress.less';
@import 'talkUi/talkUi.less';
@import 'votingGraph/votingGraph.less';
@import 'votingSimulator/votingSimulator.less';
// endinjector
