<div class="action-config">
  <div class="panel-header">
    <h4>{{selectedActivity.name}}</h4>
    <div class="close-btn btn" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i></div>
  </div>
  <div class="row">
    <div class="label">
      Where
    </div>
    <div class="col-xs-2">
      {{selectedActivity.district.name}}
    </div>
  </div>
  <div class="row">
    <div class="label">
      What
    </div>
    <div class="col-xs-9">
      {{selectedActivity.description}}
    </div>
  </div>
  <div class="row" ng-show="selectedActivity.type==='STAT'">
    <div class="label">
      Target
    </div>
    <div class="col-xs-9">
      <div>
        <table class="table table-striped">
          <tr>
            <th>Issue</th>
            <th class="issue-bar">Satisfaction</th>
            <th></th>
          </tr>
          <tr ng-repeat="issue in human.issueStats">
            <td style="text-align: left;">{{issue.name}}</td>
            <td class="issue-bar" ng-class="{strong: selectedActivity.district.issues[$index] <= issue.level && selectedActivity.district.issues[$index] > 0}">
              <div class="district-stances">
                <issue-level-view base="5" human-lvl="tempHumanStance[$index]" ai-lvl="tempAIStance[$index]"></issue-level-view>
              </div>
            </td>
            <td ng-class="{strong: selectedActivity.district.issues[$index] <= issue.level && selectedActivity.district.issues[$index] > 0}">
              <a class="btn" ng-class="{disabled: shouldDisableStat($index, issue) }" ng-click="raiseStats($index)" ng-mouseover="showPossible($index)" ng-mouseleave="hidePossible($index)">
                <i ng-class="{'glyphicon-check': selectedIndex == $index, 'glyphicon-unchecked': selectedIndex != $index}" class="glyphicon"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="label">
      Who
    </div>
    <div class="col-xs-9">
      <ul class="list list-unstyled list-inline">
        <li ng-repeat="staff in localStaffers" ng-class="{'un-selected': !staff.selected}" class="staff-list">
          <img ng-click="selectStaffer(staff)" class="avatar" ng-class="{disabled: staff.disabled}" ng-disabled="staff.disabled" ng-src="assets/images/avatars/{{staff.image}}"></img>
          {{staff.name}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="label">
      How Much:
    </div>
    <div class="col-xs-4">
      <div ui-slider min="{{selectedActivity.cost.min}}" max="{{selectedActivity.cost.max}}" ng-model="details.cost"></div>
      <span>${{details.cost | number}}</span>
    </div>
    <div class="label">
      How Long:
    </div>
    <div class="col-xs-4">
      {{selectedActivity.cost.days}} Days
    </div>
  </div>
  <div class="row">
    <div class="label">
      Success Chance
    </div>
    <div class="col-xs-9">
      90%
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 done-btn">
      <div ng-disabled="!isReady()" ng-click="onOkClicked()" class="btn btn-success">Done</div>
    </div>
  </div>
</div>
