<div>
  <div ng-switch="activity.type">
    <div ng-switch-when="MOVE">
      <img src="images/travelling.jpg"></img>
    </div>
    <div ng-switch-when="TALK">
      <!-- Show talk directive here -->
      <talk-ui activity="activity"></sortie-ui>
    </div>
    <div ng-switch-when="SORTIE">
      <!-- Show sortie directive here -->
      <sortie-ui activity="activity"></sortie-ui>
    </div>
    <div ng-switch-when="STAT">
      <!-- Show stat directive here -->
      <stat-ui activity="activity"></stat-ui>
    </div>
    <div ng-switch-when="REPUTATION">
      <!-- Show reputation directive here -->
      <reputation-ui activity="activity"></reputation-ui>
    </div>
    <div ng-switch-default>
      This is the default action {{activity.name}}
    </div>
  </div>
</div>
