<div class="row">
  <div class="col-md-5">
    <h3>{{selectedKapitan.name}}</h3>
    <ul class="list-inline animal-list">
    <li ng-repeat="kapitan in kapitans">
      <img src="images/{{kapitan.image}}" ng-class="{active: kapitan.active}" ng-click="onKapSelected(kapitan)"></img>
    </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div>
      <h3>Friends</h3>
      <ul class="list-inline">
        <li ng-repeat="likes in selectedKapitan.likesData">
          <img src="images/{{likes.image}}"></img>
        </li>
      </ul>
    </div>
    <div>
      <h3>Enemies</h3>
      <ul class="list-inline">
        <li ng-repeat="hates in selectedKapitan.hatesData">
          <img src="images/{{hates.image}}"></img>
        </li>
      </ul>
    </div>
    <div>
      <h3>Description</h3>
      <p>{{selectedKapitan.description}}</p>
    </div>
  </div>
</div>
<div>
  <div>
    <a class="btn btn-default" ng-click="onBackHome()">Back</a>
  </div>
</div>
