<div class="province-view reveal-animation">
  <div ng-repeat="district in districts" class="district" ng-class="{selected: district.selected}" ng-click="selected(district)">
    <h4>{{district.name}}</h4>
    <span ng-show="district.isHQ"><i class="glyphicon glyphicon-home blue"></i></span>
    <span ng-show="district.isAIHQ"><i class="glyphicon glyphicon-home red"></i></span>
    <span ng-show="district.hasHuman"><i class="glyphicon glyphicon-user blue"></i></span>
    <span ng-show="district.hasAI"><i class="glyphicon glyphicon-user red"></i></span>
  </div>
</div>
