<div>
  <div ng-hide="done">
    <img src="images/actions/sortie.jpg"></img>
  </div>
  <div ng-show="success && done">
    <div>
      <p>Best: {{stats.best}} at {{stats.bestValue}}</p>
      <p>Worst: {{stats.worst}} at {{stats.worstValue}}</p>
    </div>
    <img src="images/actions/sortie-success.jpg"></img>
  </div>
  <div ng-show="fail">
    <img src="images/actions/sortie-fail.jpg"></img>
  </div>
  <p>
    <a class="btn btn-success" ng-click="onDone()" ng-class="{disabled: done}">Done</a>
  </p>
</div>
