<div class="stat-ui">
  <div class="container" ng-hide="done">
    <div><h4>{{activity.text.header[0]}}</h4></div>
    <table class="table table-striped">
      <tr>
        <th>Issue</th>
        <th class="issue-bar">Human vs AI</th>
        <th></th>
      </tr>
      <tr ng-repeat="issue in player.issueStats">
        <td>{{issue.name}} <strong>{{activity.location.issues[$index]}}</strong></td>
        <td class="issue-bar" ng-class="{strong: activity.location.issues[$index] <= issue.level && activity.location.issues[$index] > 0}">
          <div class="bar">
            <div class="base level-{{issue.level}}" tooltip="Max. Lvl: {{issue.level}}"></div>
            <div class="points level-{{activity.location.humanStance[$index]}}" tooltip="Local Lvl: {{activity.location.humanStance[$index]}}"></div>
          </div>
          <div class="text">
            {{activity.location.humanStance[$index]}}&nbsp;vs&nbsp;{{activity.location.aiStance[$index]}}</div>
          <div class="bar">
            <div class="base left level-{{ai.issueStats[$index].level}}"></div>
            <div class="points left level-{{activity.location.aiStance[$index]}}"></div>
          </div>
        </td>
        <td ng-class="{strong: activity.location.issues[$index] <= issue.level && activity.location.issues[$index] > 0}">
          <a class="btn" ng-class="{disabled: shouldDisable($index, issue) }"ng-click="raiseStats($index)" ng-mouseover="showPossible($index)" ng-mouseleave="hidePossible($index)">
            <i ng-class="{'glyphicon-check': selectedIndex == $index, 'glyphicon-unchecked': selectedIndex != $index}" class="glyphicon"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="container" ng-show="success">
    <div><h4>{{doneMessage}}</h4></div>
  </div>
  <div class="container" ng-show="done && !success">
    <div><h4>{{doneMessage}}</h4></div>
  </div>
  <p>
    <a class="btn btn-success" ng-click="onDone()" ng-class="{disabled: done}" ng-hide="done">Done</a>
  </p>
</div>
