<div class="container summary-sim">
  <div><h4>Day Summary</h4></div>
  <table class="table table-striped">
    <tr ng-repeat="summary in summaries">
      <td>{{summary.text}}</td>
      <td class="italic" ng-class="{red: summary.cost < 0}">${{summary.cost}}</td>
      <td ng-class="{success: summary.success, danger: !summary.success}"><i class="glyphicon" ng-class="{'glyphicon-ok': summary.success, 'glyphicon-remove': !summary.success}"></i></td>
    </tr>
    <tr>
      <td style="text-align: right;"><strong>Total:</strong></td>
      <td class="italic" ng-class="{red: totalContribution - totalCost < 0}">${{totalContribution - totalCost}}</td>
      <td></td>
    </tr>
  </table>
</div>
