<div class="stat-ui">
  <div class="container" ng-hide="done">
    <div><h4>{{activity.text.header[0]}}</h4></div>
    <table class="table table-striped">
      <tr>
        <th>Issue</th>
        <th style="text-align: center;">Difficulty</th>
        <th class="issue-bar">Satisfaction</th>
        <th></th>
      </tr>
      <tr ng-repeat="issue in player.issueStats">
        <td style="text-align: left;">{{issue.name}}</td>
        <td>{{activity.location.issues[$index] | difficultyparser}}</td>
        <td class="issue-bar" ng-class="{strong: activity.location.issues[$index] <= issue.level && activity.location.issues[$index] > 0}">
          <div class="district-stances">
            <issue-level-view base="5" human-lvl="activity.location.humanStance[$index]" ai-lvl="activity.location.aiStance[$index]"></issue-level-view>
          </div>
        </td>
        <td ng-class="{strong: activity.location.issues[$index] <= issue.level && activity.location.issues[$index] > 0}">
          <a class="btn" ng-class="{disabled: shouldDisable($index, issue) }"ng-click="raiseStats($index)" ng-mouseover="showPossible($index)" ng-mouseleave="hidePossible($index)">
            <i ng-class="{'glyphicon-check': selectedIndex == $index, 'glyphicon-unchecked': selectedIndex != $index}" class="glyphicon"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="container" ng-show="success">
    <img ng-src="assets/images/actions/{{activity.name | lowercase}}.jpg">
    <div><h4>{{doneMessage}}</h4></div>
  </div>
  <div class="container" ng-show="done && !success">
    <img class="failed" ng-src="assets/images/actions/{{activity.name | lowercase}}.jpg">
    <div><h4>{{doneMessage}}</h4></div>
  </div>
  <p>
    <a class="btn btn-success" ng-click="onDone()" ng-class="{disabled: done}" ng-hide="done">Done</a>
  </p>
</div>
