<div class="stat-ui">
  <div class="container" ng-hide="done">
    <div><h4>{{activity.text.header[0]}}</h4></div>
    <table class="table table-striped">
      <tr>
        <th>Issue</th>
        <th class="issue-bar">You vs Crocopio</th>
        <th></th>
      </tr>
      <tr ng-repeat="issue in player.issueStats">
        <td>{{issue.name}} <span class="district-difficulty {{activity.location.issues[$index] | difficultyparser}}">{{activity.location.issues[$index] | difficultyparser}}</span>
        <td class="issue-bar" ng-class="{strong: activity.location.issues[$index] <= issue.level && activity.location.issues[$index] > 0}">
          <level-view base="issue.level" lvl="activity.location.humanStance[$index]" direction="left" type="human"></level-view>
          <div class="text">
            {{activity.location.humanStance[$index]}}&nbsp;vs&nbsp;{{activity.location.aiStance[$index]}}</div>
          <level-view base="ai.issueStats[$index].level" lvl="activity.location.aiStance[$index]" type="ai" direction="right"></level-view>
        </td>
        <td ng-class="{strong: activity.location.issues[$index] <= issue.level && activity.location.issues[$index] > 0}">
          <a class="btn" ng-class="{disabled: shouldDisable($index, issue) }"ng-click="raiseStats($index)" ng-mouseover="showPossible($index)" ng-mouseleave="hidePossible($index)">
            <i ng-class="{'glyphicon-check': selectedIndex == $index, 'glyphicon-unchecked': selectedIndex != $index}" class="glyphicon"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="container" ng-show="success">
    <img ng-src="assets/images/actions/{{activity.name | lowercase}}.jpg">
    <div><h4>{{doneMessage}}</h4></div>
  </div>
  <div class="container" ng-show="done && !success">
    <img class="failed" ng-src="assets/images/actions/{{activity.name | lowercase}}.jpg">
    <div><h4>{{doneMessage}}</h4></div>
  </div>
  <p>
    <a class="btn btn-success" ng-click="onDone()" ng-class="{disabled: done}" ng-hide="done">Done</a>
  </p>
</div>
