.activity-list{
  li{
    background: @lightblue;
    margin: 1px 0px;
    .btn{
      &:focus,&:active:focus, &.active:focus, &.active, &:active{
        outline: none;
        box-shadow: none;
        color: lighten(@lightblue, 10%);
      }
    }
    &.disabled{
      background: gray;
    }
  }
}

.activity-container{
  max-height: 230px;
  overflow-y: auto;
}

.top-bar{
  height: 40px;
  vertical-align: middle;
  padding-top: 9px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(255, 218, 0);
  div{
    float: left;

  }
}

.tab{
  text-align: center;
  &.lightblue{
    .header{
      background: @lightblue;
      &.selected{
        background: darken(@lightblue, 5%);
      }
      &:hover{
        background: darken(@lightblue, 5%);
      }
    }
    .content{
      border-top: 4px solid darken(@lightblue, 5%);
    }
  }
  .header{
    background: rgb(255, 187, 0);
    float: none;
    cursor: pointer;
    height: 40px;
    margin-top: -9px;
    padding-top: 9px;
    &.selected{
      background: darken(rgb(255, 187, 0), 5%);
      box-shadow: 0px 3px 3px #888888;
    }
    &:hover{
      background: darken(rgb(255, 187, 0), 5%);
    }
  }
  .content{
    background: white;
    position: absolute;
    border-top: 4px solid darken(rgb(255, 187, 0), 5%);
    box-shadow: 0px 5px 5px #888888;
    max-height: 600px;
    overflow-y: auto;
  }
}

.district-desc{
  width: 60%;
  h4 span{
    font-weight: normal;
    font-size: 15px;
  }
  .strong{
    color: green;
    font-weight: bold;
  }
  .district-status{
    float: right;
    img{
      width: 30px;
      height: 30px;
    }
    font-size: 12px;
  }
}

.district-stances{
  float: right;
}

.bottom{
  position: fixed;
  bottom: 5px;
  z-index: 1001;
  .content{
    // float: right;
    margin-right: 40px;
  }
}

.simulation-container{
  text-align: center;
}

.district-animal{
  margin: 5px;
  margin-left: 5px;
  img{
    border-radius: 3px;
    margin-right: 5px;
  }
}

.event-container{
  margin-top: 55px;
}

.schedule{
  position: absolute;
  left: 78px;
  z-index: 10;
  .schedule-item{
      width: 162px;
      background: @peach;
      border: 1px dashed @pink;
      h5{
        margin:0px;
      }
  }
  .loopSchedules(@index) when (@index > 0){

    .item-@{index}{
      height: (20px *@index);
    }
    .loopSchedules((@index - 1));
  }
  .loopSchedules(10);
}

.itinerary-container{
  // position: absolute;
  z-index: 20;
}

.newspaper{
  color: #76879b;
        font-size: 10px;
        margin: 5px;
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        font-size: 12px;
  text-align: left;
  .title{
    text-align: center;
  }
  .uppercase {
     text-transform: uppercase;
  }
  .headline{
    img{
      width: 80px;
      height: 80px;
    }
  }
  hr{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h1{
    font-family: times, Times New Roman, times-roman, georgia, serif;
  	color: #444;
  	margin: 0;
  	padding: 0px 0px 6px 0px;
  	font-size: 51px;
  	line-height: 44px;
  	letter-spacing: -2px;
  	font-weight: bold;
  }
  h4{
    font-family: Gill Sans, Verdana;
  	font-size: 11px;
  	line-height: 14px;
  	text-transform: uppercase;
  	letter-spacing: 2px;
  	font-weight: bold;
    margin-top: 0px;
  }
  h2,h3{
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
  	color: #333;
  	line-height: 90%;
  	margin: .2em 0 .4em 0;
  	letter-spacing: -2px;
  }
  img{
    float: left;
    margin: 5px;
    &.leading{
      margin: 0px;
    }
  }
  .body{
    div{
      padding-right: 30px;
      padding-left: 0px;
      &.boxed{
        border: 1px #ccc solid;
        padding-right: 15px;
        padding-left: 15px;
      }

    }
  }

  .done-btn div{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    h4{
      margin-bottom: 0px;
    }
  }


  p, h2, h3{
    text-align: justify;
  }
}

.text{
  float: left;
  margin: 0 5px;
}
