<div class="top-bar">
  <div class="pull-left" tooltip="Morality: {{human.morality}}">{{turnsLeft}} Days Until Election</div>
  <reputation-panel reputations="totalReputations"></reputation-panel>
  <div class="pull-right" tooltip="AI Cash: {{ai.totalCash}}"ng-class="{red: totalCash<0}">Funds: ${{totalCash}}</div>
</div>
<div class="overlay reveal-animation" ng-show="showOverlay">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Simulating</h3>
      </div>
    </div>
    <div class="row simulation-container" ng-show="!endTurn">
      <div>
        <a ng-click="simulate.onNext()" class="btn btn-success" ng-class="{disabled: !simulate.isNextReady}">{{simulate.simulateText}}</a>
      </div>
      <div ng-show="simulate.activeAct">
        {{simulate.activeAct.name}} @ {{simulate.activeAct.location.name}} {{hoursElapsed+8 | itinerarytime}}
        <activity-sim activity="simulate.activeAct" on-next-ready="simulate.onNextReady" player="currentPlayer" ai="ai" issues="issues"></activity-sim>
      </div>
    </div>
    <div class="row simulation-container" ng-show="endTurn">
      <div>
        <a class="btn btn-success" ng-click="simulate.onEndTurn()">{{simulate.simulateText}}</a>
      </div>
      <summary-sim summaries="simulate.summaries" ai-summaries="simulate.aiSummaries" total-contribution="totalContribution" total-cost="totalCost"></summary-sim>
    </div>
  </div>
</div>
<cards-view cards="cards"></cards-view>
<div ng-include="'components/alert/alert.html'"></div>
<province-view districts="districts" selected-district="selectedDistrict" change-selected="changeSelectedDistrict" show-reputation="true"></province-view>
<div ng-show="selectedDistrict" class="pull-right district-desc reveal-animation">
  <h4>{{selectedDistrict.name}}
    <div>
      <span class="district-animal" tooltip="{{selectedDistrict.kapitan.humanRelations | feelings}}"><img ng-src="assets/images/avatars/{{selectedDistrict.kapitan.image}}"></img> {{selectedDistrict.kapitan.name}}</span>
      <span class="district-animal" ng-show="selectedDistrict.specialist"><img ng-src="assets/images/avatars/{{selectedDistrict.specialist.image}}"></img>{{selectedDistrict.specialist.name}}</span>
    </div>
  </h4>
  <span>{{selectedDistrict.info}}</span>
  <table class="table table-striped">
    <tr>
      <th>Issue</th>
      <th style="text-align: center;">You vs AI</th>
    </tr>
    <tr ng-repeat="issue in human.issueStats">
      <td>
        <div>
          {{issue.name}}<span class="district-difficulty {{selectedDistrict.issues[$index] | difficultyparser}}">{{selectedDistrict.issues[$index] | difficultyparser}}</span>
        </div>
      </td>

      <td>
        <div class="district-stances">
          <level-view base="issue.level" lvl="selectedDistrict.humanStance[$index]" direction="left" type="human"></level-view>
          <div class="text">
          {{selectedDistrict.humanStance[$index]}}&nbsp;vs&nbsp;{{selectedDistrict.aiStance[$index]}}</div>
          <level-view base="ai.issueStats[$index].level" lvl="selectedDistrict.aiStance[$index]" type="ai" direction="right"></level-view>
        </div>
      </td>
    </tr>
  </table>
  <h5>Activities</h5>
  <ul class="list-unstyled activity-list">
    <li ng-repeat="activity in selectedDistrict.activities" class="row" ng-class="{disabled: activity.disabled}">
      <div class="col-md-5" tooltip-html-unsafe="{{activity.description | activitytooltip:activity.tooltipVals}}">{{activity.name}}</div>
      <div class="col-md-3" tooltip="{{activity.cost.gold}} * {{activity.location.goldCostModifier}}">{{activity.cost.gold * activity.location.goldCostModifier | formatcost}}</div>
      <div class="col-md-2">{{activity.cost.hours * activity.location.timeCostModifier}} hrs</div>
      <div class="col-md-1">
        <a class="btn" ng-click="addToItinerary(activity)" ng-show="!activity.disabled">
        <i ng-class="{'glyphicon-plus': !activity.wasScheduled, 'glyphicon-minus': activity.wasScheduled}" class="glyphicon"></i></a>
      </div>
    </li>
  </ul>
</div>
<div class="bottom">
    <div>
      <a class="btn btn-default" ng-click="onItClicked()">Itinerary</a>
      <a class="btn btn-default" ng-click="onKapClicked()">Kapitans</a>
    </div>
</div>
