<div class="top-bar navbar navbar-fixed-top ">
  <reputation-panel reputations="totalReputations" kapitans="kapitans"></reputation-panel>
  <div class="pull-right" tooltip="Crocopio Cash: {{ai.totalCash}}"ng-class="{red: totalCash<0}">Funds: <strong>${{totalCash | number}}</strong>&nbsp;<strong>{{turnsLeft}}</strong> Days Until Election</div>
</div>
<div class="overlay reveal-animation" ng-show="showOverlay" ng-switch="config.overlayState">
  <div ng-switch-when="WELCOME" class="container">
    <div class="row simulation-container">
      <div class="event-container"></div>
      <div class="activity-sim row newspaper" >
        <div ng-hide="config.loadedItems===dataLoadSize" class="col-xs-12 reveal-animation">
          Loading...
          <progressbar  value="config.loadedItems" max="dataLoadSize" ></progressbar>
        </div>
        <welcome-paper ng-show="config.loadedItems===dataLoadSize" human="human" ai="ai" total-reputations="totalReputations" issue="1">
          <div class="col-xs-12 done-btn">
            <div ng-show="config.loadedItems===dataLoadSize" ng-click="onHideEventPanel()" class="btn btn-success"><h4>Done Reading</h4></div>
          </div>
        </welcome-paper>
      </div>
    </div>
  </div>
  <div ng-switch-when="WEEKLY" class="container">
    <div class="row simulation-container">
      <div class="event-container"></div>
      <div class="activity-sim row newspaper" >
        <weekly-paper human="human" ai="ai" total-reputations="totalReputations" issue="{{((totalTurns-turnsLeft)/daysInAWeek)+1}}">
          <div class="col-xs-12 done-btn">
            <div ng-show="config.loadedItems===dataLoadSize" ng-click="onHideEventPanel()" class="btn btn-success"><h4>Done Reading</h4></div>
          </div>
        </weekly-paper>
      </div>
    </div>
  </div>
  <div ng-switch-when="EVENT" class="container">
    <div class="row simulation-container">
      <div class="event-container">
      </div>
      <div class="activity-sim row newspaper">
        <div class="col-xs-12">
          <div class="title">
            <h1>{{currEventCard.name}}</h1>
            <hr></hr>
          </div>
        </div>

        <div class="col-xs-9">
          <img ng-class="{failed: !currEventCard.active}" class="leading" src="assets/images/actions/typhoon.jpg"></img>
        </div>
        <div class="col-xs-3">
          <h4>{{currEventCard.description}}</h4>
          <p>{{currEventCard.details}}</p>
        </div>
        <div class="col-xs-12 done-btn">
          <div ng-click="onHideEventPanel()" class="btn btn-success"><h4>Done Reading</h4></div>
        </div>
      </div>
    </div>
  </div>
  <div ng-switch-when="SIMULATION" class="container reveal-animation">
    <div class="row">
      <div class="col-md-4">
        <h3>Simulating</h3>
      </div>
    </div>
    <div class="row simulation-container" ng-show="!endTurn">
      <div>
        <a ng-click="simulate.onNext()" class="btn btn-success" ng-class="{disabled: !simulate.isNextReady}">{{simulate.simulateText}}</a>
      </div>
      <div ng-show="simulate.activeAct">
        {{simulate.activeAct.name}} @ {{simulate.activeAct.location.name}} {{hoursElapsed+8 | itinerarytime}}
        <activity-sim activity="simulate.activeAct" on-next-ready="simulate.onNextReady" player="currentPlayer" ai="ai" issues="issues"></activity-sim>
      </div>
    </div>
    <div class="row simulation-container" ng-show="endTurn">
      <div>
        <a class="btn btn-success" ng-click="simulate.onEndTurn()">{{simulate.simulateText}}</a>
      </div>
      <summary-sim summaries="simulate.summaries" ai-summaries="simulate.aiSummaries" total-contribution="totalContribution" total-cost="totalCost"></summary-sim>
    </div>
  </div>
</div>
<cards-view cards="cards"></cards-view>
<div ng-include="'components/alert/alert.html'"></div>
<!-- <div class="row col-xs-5">
  <province-view districts="districts" selected-district="selectedDistrict" change-selected="changeSelectedDistrict" show-reputation="true"></province-view>
</div> -->
<game-layer select-district="selectDistrict" selected-district="selectedDistrict">
</game-layer>
<district-details ng-show="selectedDistrict" selected-district="selectedDistrict" human="human" ai="ai">
  <div class="btn btn-success" ng-click="closeDistrictDetails()">X</div>
</district-details>
<!-- <div class="bottom container">
    <div class="content">
      <a class="btn btn-default" ng-click="onKapClicked()">Kapitans</a>
      <a class="btn btn-default" ng-click="onNewsClicked()">News</a>
    </div>
</div> -->
