.talk-ui{
  .choice{
    width: 150px;
    margin: 0 auto;
    display: flex;

    .avatar{
      position: relative;
      margin: 5px;
    }
  }

  .dialog-text{
    background: #ccc;
    padding: 5px 10px;
  }

}
