<div class="center" >
  <div class="content" ng-class="{selected: showGraph}"ng-click="showGraph = !showGraph;">
    <img src="/assets/images/avatars/mouseyMale.jpg"></img>
    <span ng-class="{'green': humanChange > 0, 'gray': humanChange === 0, 'red': humanChange < 0}" tooltip="{{getChangeString(humanChange)}}">
      <i class="glyphicon" ng-class="{'glyphicon-chevron-up': humanChange > 0, 'glyphicon-minus': humanChange === 0, 'glyphicon-chevron-down': humanChange < 0}"></i>
    </span>
    <span tooltip="Votes: {{now.human.votes | number:0}} vs {{now.ai.votes | number:0}}">
      <span class="blue">{{now.human.reputation | number:2}}</span>
      <span><strong>vs</strong></span>
      <span class="red">{{now.ai.reputation | number:2}}</span>
    </span>
    <span ng-class="{'green': aiChange > 0, 'gray': aiChange === 0, 'red': aiChange < 0}" tooltip="{{getChangeString(aiChange)}}">
      <i class="glyphicon" ng-class="{'glyphicon-chevron-up': aiChange > 0, 'glyphicon-minus': aiChange === 0, 'glyphicon-chevron-down': aiChange < 0}"></i>
    </span>
    <img src="/assets/images/avatars/crocopio.jpg"></img>
  </div>
  <div class="graph container" ng-show="showGraph">
    <h3>Daily Survey</h3>
    <voting-graph reputations="reputations"></voting-graph>
    <h3>Relationships</h3>
    <relationship-graph kapitans="kapitans"></relationship-graph>
  </div>
</div>
