<div class="tab updates-tab">
  <div class="header" ng-class="{selected: showGraph}" ng-click="showGraph = !showGraph">
    <span>Updates <span ng-show="countSeen()" class="badge">{{countSeen()}}</span></span>
  </div>
  <div class="content container" ng-show="showGraph">
    <ul class="list list-unstyled">
      <div ng-show="updates.length === 0">
        This is where you see your staff's updates
      </div>
      <li class="row" ng-repeat="update in updates">
        <div class="col-xs-11">
          <h4>{{update.name}} {{update.seen}}</h4>
          <span>{{update.activity.name}}, {{update.activity.district.name}}</span> Done!
        </div>
      </li>
    </ul>
  </div>
</div>
