.voting-sim-messages{

  margin: 5px 5px;

  div{
    background: #ccc;
    padding: 5px 5px;
  }
  .official{
    background: @peach;
  }
  .status{
    background: #ccc;
    margin-left: 10px;
    img{
      margin-left: -15px;
      margin-top: -5px;
      margin-right: 10px;
    }
  }
  .win{
    background: @good;
  }
  .lose{
    background: @evil;
  }
}
