<div class="row">
  <div ng-repeat="simMessage in simMessages">
    <div ng-switch="simMessage.type" class="voting-sim-messages">
      <div ng-switch-when="OFFICIAL" class="official">
        {{simMessage.message}} : <strong>{{simMessage.vote.human}}</strong>({{simMessage.vote.humanProjected}}) vs <strong>{{simMessage.vote.ai}}</strong>({{simMessage.vote.aiProjected}})
      </div>
      <div ng-switch-when="STATUS" class="status">
        <img class="avatar-clickable small" src="assets/images/avatars/campaignmanager.png"></img>{{simMessage.message}}
      </div>
      <div ng-switch-when="WIN" class="win">
        {{simMessage.message}}
      </div>
      <div ng-switch-when="LOSE" class="lose">
        {{simMessage.message}}
      </div>
    </div>
  </div>
</div>
